@layout Shared.PreLogin.PreLoginLayout
@page "/Register"
@using Twitch_Tools.Models

@inject IPeopleData _db

<div class="col rounded bg-info py-5">
    <EditForm Model="@newUser" OnValidSubmit="@InsertUser">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form-group">
            <label for="email">Email</label>
            <InputText id="emailAddress" type="email" class="form-control" palceholder="Email Address" @bind-Value="newUser.EmailAddress" />
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <InputText id="password" type="password" class="form-control" @bind-Value="newUser.Password" />
        </div>

        <div class="form-group">
            <label for="password">Confirm Password</label>
            <InputText id="confirmPassword" type="password" class="form-control" @bind-Value="newUser.ConfirmPassword" />
        </div>

        <div class="text-right">
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
    </EditForm>
</div>

<div class="col-5">
    Register Account
</div>

@code{
    private UserModel newUser = new UserModel();

    private async Task InsertUser()
    {

        UserModel newU = new UserModel()
        {
            EmailAddress = newUser.EmailAddress,
            Password = newUser.Password,
            ConfirmPassword = newUser.ConfirmPassword
        };

        await _db.InsertUser(newU);

        newUser = new UserModel();

    }
}