@layout MainLayout
@inherits LayoutComponentBase

<div class="row h-50 d-inline-block h-75 justify-content-md-center d-flex align-items-center bg-info rounded">
    <div class="col-5">
        <div class="container-fluid">
            <div class="text-center">
                <button type="submit" class="btn btn-primary col-4">Facebook</button>
                <button type="submit" class="btn btn-primary col-4">Google</button>
            </div>
        </div>
        @Body
    </div>
</div>